<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564875431497-fkncgs3q808kc4mp5duv07mudpfuo9bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564875431497-fkncgs3q808kc4mp5duv07mudpfuo9bk</string>
	<key>API_KEY</key>
	<string>AIzaSyDw27aBFNWERqPcVbrE3SDk5h3y5wk91kI</string>
	<key>GCM_SENDER_ID</key>
	<string>564875431497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appGym</string>
	<key>PROJECT_ID</key>
	<string>gym-database-stage-f710b</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-database-stage-f710b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564875431497:ios:aaa347e6a0609330937998</string>
</dict>
</plist>